html {
    font-family: sans-serif;
    background: #4b4b4b;
    color: #d9d9d9;
}
h1 {
}
h2 {
}
body {
    font-weight: 100;
}
#container {
    padding-top: 4em;
    width: calc(100% - 8em);
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (max-width: 50em){
    #container {
        padding-top: 2em;
        width: calc(100% - 4em);
    }
}
table {
    width: 100%;
    max-width: 50em;
}
td {
    padding: 0.25em;
}
