html {
    scroll-behavior: smooth;
    margin: 0;
    color: #8e1a1d;
    font-family: sans-serif;
    font-weight: 800;
    --color-white: #fff;
    --color-darkred: #8e1a1d;
    --color-darkyellow: #eacd38;
    --color-flag: var(--color-darkyellow);
    --color-calday: var(--color-darkred);
    --color-caltoday: var(--color-darkyellow);
    --color-calinactive: #aaa;
    --color-event-defbg: var(--color-darkred);
    /* background: #000; */
}

/* mini calendar */

.cal-row {
    display: flex;
    margin: auto;
    width: 100%;
}
.cal-cell {
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    color: var(--color-calinactive);
    padding-top: 0.5em;
    line-height: 0.9em;
}
.cal-cell-day .daynumber {
    padding: 0.1em;
    width: 2em;
    color: var(--color-calday);
    border-radius: 1em;
    display:block;
    margin:auto;
}
.cal-cell-day .num-events {
    font-size: 0.7rem;
}
.cal-cell-today .daynumber {
    background: var(--color-caltoday); /* yellow */
    color: #fff;
}

/* scrolly calendar */
.day {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.1em;
}

.day * {
    padding-left: 1rem;
    padding-right: 1rem;
}

.day span, .day div {
    background: var(--color-event-defbg);
    color: #fff;
}

.day span:nth-child(2), .day div:nth-child(2) {
    border-radius: 1em 1em 0 0;
}
.day span:last-child, .day div:last-child {
    border-radius: 0 0 1em 1em;
}
.day span:nth-child(2):last-child, .day div:nth-child(2):last-child {
    border-radius: 1em 1em 1em 1em;
}

.flag, .flag span {
    /* important events (aka things we weren't able to parse so they're probably important) */
    background: var(--color-flag) !important;
    color: #fff !important;
    /* box-shadow: 0 0 0.5em 0 #333; */
}


body {
    margin: 0;
}

#container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100vh;
}
.split-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.split-container .cal-overview {
    width: 100%;
    flex-grow: 1;
    max-width: 30rem;
    background: var(--color-white);
}
.split-container .scroll-cal {
    overflow-y: scroll;
    scroll-behavior: smooth;
    flex-grow: 1;
}

#scrollbutton {
    /* make a nice calendar style button for going to the current day */
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    font-size: 1.5rem;
    font-weight: 1000;
    color: #eacd38;
    background: #e82a51;
    /* box-shadow: 0 0 1rem #333, inset 0 0.5rem #888; */
    width: 3rem;
    line-height: 2rem;
    text-align: center;
    border-radius: 0.3rem 0.3rem 0 0;
    cursor: pointer;
    height: 3rem;
}

#scrollbutton::before {
    width: 50%;
    border-right: 0.3rem solid #aaa;
    border-left: 0.3rem solid #aaa;
    content: "";
    height: 0.5rem;
    position: relative;
    top: -2rem;
    line-height: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: -0.25rem;
}


@media only screen and (min-width: 40rem){

    #container {
        width: 100%;
        max-width: none;
    }
    .split-container .cal-overview {
        max-width: 20rem;
    }
    .scroll-cal {
        padding-left: 2rem;
    }
    .split-container {
        flex-direction: row;
        justify-content: space-between;
    }
}
